/* 
	User Submitted Posts : CSS : USP Form
	@ https://perishablepress.com/user-submitted-posts/
	Complete list of CSS selectors @ https://m0n.co/e
*/

div#user-submitted-posts { width: 100%; max-width: 100%; overflow: hidden; }
div#user-submitted-posts form { box-sizing: border-box; margin: 10px 0; padding: 5px; }
div#user-submitted-posts fieldset { box-sizing: border-box; margin: 10px 0; padding: 0; border: 0; }

div#user-submitted-posts fieldset label           { box-sizing: border-box; display: block; float: none; clear: both; width: 80%;  margin: 0; padding: 0; border: 0; font-size: 90%; }
div#user-submitted-posts fieldset input.usp-input { box-sizing: border-box; display: block; float: none; clear: both; width: 80%;  margin: 0; }
div#user-submitted-posts textarea.usp-textarea    { box-sizing: border-box; display: block; float: none; clear: both; width: 100%; margin: 0; }
div#user-submitted-posts select                   { box-sizing: border-box; display: block; float: none; clear: both; width: auto; margin: 0; }

div#user-submitted-posts div.usp_text-editor { margin: 20px 0 0 0;  }
div#user-submitted-posts div.wp-editor-container { border: 1px solid #e5e5e5; }

div#user-submitted-posts fieldset.usp-images { margin: 25px 0; }
div#user-submitted-posts div#usp-upload-message { font-size: 90%; }
div#user-submitted-posts fieldset input.usp-input.usp-clone { margin: 10px 0 0 0; font-size: 90%; }
div#user-submitted-posts a#usp_add-another { display: none; clear: both; margin: 10px 0 0 0; font-size: 90%; }
div#user-submitted-posts div#usp-submit { margin: 20px 0; }

div#user-submitted-posts div.usp-error { color: #cc3333; }
div#user-submitted-posts div#usp-error-message { margin: 0 0 20px 0; }
div#user-submitted-posts div#usp-error-message.usp-callout-failure { color: #cc3333; }
div#user-submitted-posts div#usp-success-message { margin: 0 0 20px 0; font-weight: bold; }

.usp-hidden, .usp-no-js { display: none; }
.usp-js { display: block; }

/* Parsley */

div#user-submitted-posts ul.parsley-errors-list { display: none; list-style-type: none; }
div#user-submitted-posts ul.parsley-errors-list.filled { display: block; float: none; clear: both; margin: 0; padding: 0; font-size: 12px; line-height: 18px; }
div#user-submitted-posts ul.parsley-errors-list.filled li.parsley-required { display: inline-block; margin: 0; padding: 5px 10px; color: #fff; background-color: #cc3333; }
.post_header p{
    text-align: justify;
}
#user-submitted-post{
    font-size: 16px;
    text-align: center;
    /*padding: 10px 20px;*/
    border-radius: 2px;
    border: none;
    color: #fff!important;

}
#user-submitted-post:hover{
    cursor: pointer;
    text-decoration: none!important;
    background: rgba(16, 96, 156, 0.79);
}
#user-submitted-content{

}
#user-submitted-content:focus{
        background: rgba(243, 247, 252, 0.4);
}
div#user-submitted-posts fieldset{
    margin: 15px 0;
}
div#user-submitted-posts div#usp-submit{
    text-align: center;
}
.bold{
    font-weight: bold;
    margin-top: 20px;
    color: #10609c;
    display: flex;
    align-items: center;
}
.h_expert{
    letter-spacing: -1px;
    font: 21px Verdana,Helvetica,Arial,sans-serif;
    margin: 10px 0px 10px 0px;
    padding: 0;
    font-weight: 400;
    color: maroon;
    text-align: center;
}
#div#toc_container{
        width: 95%!important;
}
.other_question{
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}
.cont-block{
    /*margin-top: 50px;*/
    border: 1px solid #ecf2f7;
    padding: 5%;
}
.cont-block .h3{
    color: maroon;
    font-weight: bold;
    clear: both;
}
.ya-share2_inited{
    text-align: right;
}
.spec{
    min-height: 200px;
    background: rgba(16, 96, 156, 0.03);
    border: 1px solid #ecf2f7;
    padding: 0px 5%;
}
.spec .oh .spec-more{
    margin-top: -25px;
}
.spec-info{
    margin: 15px 0;
}
.spec-more{
    float: right;
    background: rgba(128, 0, 0, 0.84);
    color: white!important;
    padding: 2px 6px;
}
.author{
    text-align: right!important;
    margin-right: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.avatar{
    max-width: 96px;
}
#user-submitted-image{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
div#user-submitted-posts fieldset input.usp-input.usp-clone{
    border: none!important;
    box-shadow: none;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current{
    background: #10609c;
    color: #fff!important;
    border-radius: 2px;
    border-color: #10609c;
    border: 1px solid #10609c;
}
.wp-pagenavi a, .wp-pagenavi span{
        padding: 6px 10px!important;
        border: 1px solid #10609c!important;
            border-radius: 2px;
}

form#usp_form label {
    display: none;
}
.questions{
	/*min-width: 300px;*/
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px 0 30px 0;
    border: 1px solid #e5e5e5;
    border-radius: 1px;
    
}
#questions{
    flex-wrap: inherit;
}
#q_img{
    position: relative;
    margin: 0 20px 0 0;
}
.questions img{
	max-width: 100%;
    width: 100px;
    height: auto;
    left: 6%;
    top: 10px;
}
.class-questions{
    text-align: center!important;
    margin: 40px;
}
.class-questions a{
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #eb4026;
    background: #eb4026;
    color: #ffffff!important;
    position: relative;
    top: 10px;
}
.q-sidebar{
    color: #3465ac; 
    padding: 0; 
    text-align: center; 
    height: 105px;
    min-width: 196px;
}
.q-sidebar span{
    color: #111;
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
    padding: 0;
    text-align: center;
}
.q-sidebar .btn-questions{
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    width: 160px;
    /* border: 1px solid #10609c; */
    /* background: #1560bd; */
    border: 1px solid #eb4026;
    background: #eb4026;
    color: #ffffff!important;
    position: relative;
    top: 10px;
}
.q-sidebar .all-questions{
    text-decoration: underline;
    position: relative;
    top: 15px;
}
.q-sidebar .all-questions:hover{
	color: #eb4026;
}
.q-other{
    background: rgba(163, 164, 165, 0.03);
    padding: 10px;
    display: flex;
    justify-content: center;
}
.q-other i{
    font-size: 22px; 
    color: #0033cc; 
    margin: 0 10px;
}
.q-other a{
    text-decoration: underline;
}
.usp-images label{
    display: block!important;
}

@media screen and (max-width: 768px)
{
	.questions{
		min-width: 200px;
        flex-wrap: wrap;
	}
    .questions img{
        margin: auto;
        width: 90px;
        position: inherit;
    }
	.q-sidebar{
	height: 85px;
	}
	.q-sidebar span{
	    font-size: 20px;
	    line-height: 14px;
	}
	.q-sidebar .btn-questions{
		font-size: 14px;
	    padding: 5px;
	}
	.all-questions{
		font-size: 16px;
	}
}